//sass --watch DropDead.scss:DropDead.css -compiled  2804992349
//Koala
@import url(http://fonts.googleapis.com/css?family=Oswald);
$fontSize:21px;
$tveir: 70%;
$ein: 29.5%;
$colorDark:black;
$colorLight:darkred;
$colorFont:#123;
@mixin textSpacing($wid,$flo)
{
	box-sizing:border-box;//what
	border: 5px ridge $colorDark;
	padding: 13px;
	margin:1px;
	text-align:initial;
	width:$wid;
	float: $flo;
	overflow:hidden;
}

body{
	max-width: 940px;
	margin:0 auto;
	font-size: $fontSize;
	background-color: $colorLight;//-------
	color:$colorFont;
}
a{
	&:hover{
	color: lighten($colorFont,15%);;
	}
}
ul{
	list-style:none;
}
a:hover{
		color: lighten($colorFont, 10%);

	}
.mainbody{
	@include textSpacing(100%,none);
	position:relative;
	overflow: auto;
	}
	#tog1,
	#tog2,
	#tog3,
	#toggle{
		display: none;
	}
label{
	padding:0px;
	display: none;
	opacity: 0.3;
	border: 5px ridge $colorDark;
	background-color: lighten($colorLight, 10%);
	&:hover{
		cursor: pointer;
  		color:$colorFont;
	}
}
#toggle:hover{
		opacity: 1;
}
#toggle:checked ~ label {
		opacity: 1;
	}
.undirtoggle{
	display:inline-block;
	border:none;
	opacity:1;
	background-color:transparent;
	float:none;
	clear:none;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding:0px;
}
nav
{
	
	margin:0;
	padding: 0;
	ul//öll ul tög sama hvar
	{
		margin:0;
		padding:0;
		list-style:none;
		width: 100%;
	}


	&>ul//ista ul
	{
		text-align: center;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-height: 30px;

		&>li//
		{
			height: 30px;
			background-color: $colorLight;//-------
			&>a
				{
					display:block;
					border-bottom: 1px solid black;
					text-decoration:none;
					transition: font-size 0.3s;
					border: none;
				}
			flex-grow: 1;
			border: 5px ridge $colorDark;
			&>input:checked~ul
			{
				max-height:200px;
			}

			&>ul
			{
				color: $colorFont;
				max-height:0;
				overflow:hidden;
				position: relative;
				background-color:lighten($colorLight,7%);//-------
				transition: max-height 0.7s;
				li:hover{
						background-color: $colorLight;//-------
						font-size:$fontSize*1.2;
				}
				a
				{
					display:block;
					border-bottom: 1px solid black;
					text-decoration:none;
					transition: font-size 0.3s;

				}
			}
		}
	}
}

.scrollDown{
	position:fixed;
	top:0px;
	width:903px;
}
.title{
	@include textSpacing($tveir,left);
}
img{
	width:100%;
		margin-bottom: -12px;
}
#img{
	@include textSpacing($tveir,left);
	padding:0;
	clear: left;
}
.opnun,
.Price{
	@include textSpacing(auto,none);
	text-align:center;
	.meh{
		border-bottom:3px dotted black;
	}
	clear: right;
	h3{
		margin:-3px 0 0px 0;
	}
	h2{margin:0;}
}
.main{
	@include textSpacing($tveir,left);

	div{
	@include textSpacing(100%,none);
	font-size: $fontSize*1.1;
	font-weight: bold;
	border: none;
	}
}
#mapi{
	@include textSpacing($ein,right);
	padding: 0;
	clear: right;
	overflow:visible;
	height: 460px;
	}
#map{
	width: 100%;
}
#map:hover{
}
footer{
	display: flex;
	clear:both;
	overflow: auto;
	@include textSpacing(100%,none);
	ul{
	@include textSpacing(33%,left);
	}
	padding:0;
}

//-------------------------------------------------------
@media screen and (max-width: 60em){
	.title{
	@include textSpacing(100%,left);
	}
	#img{
	@include textSpacing(100%,left);
	padding:0;
	clear: left;
	}
	.opnun,
	.Price{
		text-align:center;
		font-size: 17px;
		h2{
			font-size: 18px;
		}

	}
	#mapi{
	@include textSpacing($ein,none);
	padding: 0px;
	}
	.scrollDown{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;;
}
}

//-------------------------------------------------------
@media screen and (max-width: 48em){
	.navcontainer{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		font-size: $fontSize*1.6;
	}
	label{
	display: inline-block;
	position: static;
	float: right;
	}
	nav{
		max-height: 0;
		min-width: 100%;
		max-width: 350px;
		position: static;
		float: right;
		clear: right;
		overflow: hidden;
		&>ul{
			flex-flow: column;
			&>li{
			height: auto;
			}
		}
	}
	nav ul li ul li:hover{
		font-size: $fontSize*1.8;
	}
	#toggle:checked ~ nav {
		max-height: none;
		overflow: visible;
	}
	.main{
	@include textSpacing(100%,none);
	}
	.opnun,
	.Price{
	@include textSpacing($ein,left);
	text-align:center;
	clear:left;
		font-size: 17px;
		h2{
			font-size: 18px;
		}

	}
	#mapi{
	@include textSpacing(auto,none);
	padding: 0px;
	}
	footer {
		display: inline-block;
		ul{
		@include textSpacing(49.53%,left);
		clear: none;
		}
		#ref{
		@include textSpacing(99.4%,none);
		}
	}
}

//-------------------------------------------------------
@media screen and (max-width: 30em){
	.opnun,
	.Price{
	@include textSpacing(50%,left);
	clear: none;
	text-align:center;
		font-size: 17px;
		h2{
			font-size: 18px;
		}

	}
	.opnun{
		@include textSpacing(auto,none);
		max-width: 100%;
	}
	#mapi{
	@include textSpacing(100%,none);
	padding: 0px;
	}
	#img{
		width: 100%;
		overflow: hidden;
		height: 200px;
	}
	img{
		height: 200px;
		width: auto;
		transition: 2s;
	}
	footer {
		display: flex;
		flex-flow: column;
		ul{
		@include textSpacing(100%,none);
		clear: none;
		}
		#ref{
		@include textSpacing(100%,none);
		}
	}
}
//----Login formið
#Login{
	display: flex;
	form{
		min-width:450px;
		max-width: 800px;
		margin: 0px;
		padding:5px;
	}
	h1,
	input
	{
	width: 100%;
	font-size: 50px;
	padding:0px;
	border:none;
	float:left;
	clear: left;
	height:24%;
	}
	h1{
		margin-bottom:2px;
		display:inline-block;
	}
}
@media screen and (max-width: 420px){
	#Login{
	display: flex;
	max-width:none;
	flex-flow: column;
	form{
		width: 100%;
	}
	
}
	}
//----Form css
//----Undirsíðu formið
#indexFormTA{
	max-width:598px;
}
#imgInput{
	margin-left: 13px;
}