@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
  max-width: 940px;
  margin: 0 auto;
  font-size: 21px;
  background-color: darkred;
  color: #123; }

a {
  color: #123; }
  a:hover {
    color: #24486c; }

ul {
  list-style: none; }

a:hover {
  color: #1e3b59; }

.mainbody {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 100%;
  float: none;
  background-color: #be0000;
  overflow: hidden;
  background-color: darkred;
  position: relative;
  overflow: auto; }

#toggle {
  display: none; }

label {
  padding: 0px;
  display: none;
  opacity: 0.3;
  border: 5px ridge black;
  background-color: #be0000; }
  label:hover {
    cursor: pointer;
    color: #123; }

#toggle:hover {
  opacity: 1; }

#toggle:checked ~ label {
  opacity: 1; }

nav {
  margin: 0;
  padding: 0; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; }
  nav > ul {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 30px; }
    nav > ul > li {
      background-color: darkred;
      flex-grow: 1;
      border: 5px ridge black; }
      nav > ul > li > a {
        display: block;
        border-bottom: 1px solid black;
        text-decoration: none;
        transition: font-size 0.3s; }
      nav > ul > li:hover ul {
        max-height: 200px; }
      nav > ul > li > ul {
        color: #123;
        max-height: 0;
        overflow: hidden;
        position: relative;
        background-color: #af0000;
        transition: max-height 0.7s; }
        nav > ul > li > ul li {
          color: black; }
        nav > ul > li > ul li:hover {
          background-color: darkred;
          font-size: 25.2px; }
        nav > ul > li > ul a {
          display: block;
          border-bottom: 1px solid black;
          text-decoration: none;
          transition: font-size 0.3s; }

.scrollDown {
  position: fixed;
  top: 0px;
  width: 903px; }

.title {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 70%;
  float: left;
  background-color: #be0000;
  overflow: hidden; }

img {
  width: 100%; }

#img {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 70%;
  float: left;
  background-color: #be0000;
  overflow: hidden;
  padding: 0;
  clear: left; }

.opnun,
.Price {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 29.5%;
  float: none;
  background-color: #be0000;
  overflow: hidden;
  text-align: center;
  clear: right; }
  .opnun .meh,
  .Price .meh {
    border-bottom: 3px dotted black; }
  .opnun h3,
  .Price h3 {
    margin: -3px 0 0px 0; }
  .opnun h2,
  .Price h2 {
    margin: 0; }

.main {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 70%;
  float: left;
  background-color: #be0000;
  overflow: hidden; }
  .main div {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 100%;
    float: none;
    background-color: #be0000;
    overflow: hidden;
    font-size: 23.1px;
    font-weight: bold;
    border: none; }

#mapi {
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 29.5%;
  float: right;
  background-color: #be0000;
  overflow: hidden;
  padding: 0;
  clear: right;
  overflow: visible; }

#map {
  width: 100%; }

footer {
  display: flex;
  clear: both;
  overflow: auto;
  box-sizing: border-box;
  border: 5px ridge black;
  padding: 13px;
  margin: 1px;
  text-align: initial;
  width: 100%;
  float: none;
  background-color: #be0000;
  overflow: hidden;
  padding: 0; }
  footer ul {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 33%;
    float: left;
    background-color: #be0000;
    overflow: hidden; }

@media screen and (max-width: 60em) {
  .title {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 100%;
    float: left;
    background-color: #be0000;
    overflow: hidden; }

  #img {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 100%;
    float: left;
    background-color: #be0000;
    overflow: hidden;
    padding: 0;
    clear: left; }

  .opnun,
  .Price {
    text-align: center;
    font-size: 17px; }
    .opnun h2,
    .Price h2 {
      font-size: 18px; }

  #mapi {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 29.5%;
    float: none;
    background-color: #be0000;
    overflow: hidden; }

  .scrollDown {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%; } }
@media screen and (max-width: 48em) {
  .navcontainer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    font-size: 33.6px; }

  label {
    display: inline-block;
    position: static;
    float: right; }

  nav {
    max-height: 0;
    min-width: 100%;
    max-width: 350px;
    position: static;
    float: right;
    clear: right;
    overflow: hidden; }
    nav > ul {
      flex-flow: column; }

  nav ul li ul li:hover {
    font-size: 37.8px; }

  #toggle:checked ~ nav {
    max-height: none;
    overflow: visible; }

  .main {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 100%;
    float: none;
    background-color: #be0000;
    overflow: hidden; }

  .opnun,
  .Price {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 29.5%;
    float: left;
    background-color: #be0000;
    overflow: hidden;
    text-align: center;
    clear: left;
    font-size: 17px; }
    .opnun h2,
    .Price h2 {
      font-size: 18px; }

  #mapi {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 70%;
    float: none;
    background-color: #be0000;
    overflow: hidden; }

  footer {
    display: inline-block; }
    footer ul {
      box-sizing: border-box;
      border: 5px ridge black;
      padding: 13px;
      margin: 1px;
      text-align: initial;
      width: 48%;
      float: left;
      background-color: #be0000;
      overflow: hidden;
      clear: none; }
    footer #ref {
      box-sizing: border-box;
      border: 5px ridge black;
      padding: 13px;
      margin: 1px;
      text-align: initial;
      width: 100%;
      float: none;
      background-color: #be0000;
      overflow: hidden; } }
@media screen and (max-width: 30em) {
  .opnun,
  .Price {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 48%;
    float: left;
    background-color: #be0000;
    overflow: hidden;
    clear: none;
    text-align: center;
    font-size: 17px; }
    .opnun h2,
    .Price h2 {
      font-size: 18px; }

  #mapi {
    box-sizing: border-box;
    border: 5px ridge black;
    padding: 13px;
    margin: 1px;
    text-align: initial;
    width: 100%;
    float: none;
    background-color: #be0000;
    overflow: hidden; }

  #img {
    width: 640px; }

  img {
    height: 200px;
    width: auto;
    transition: 2s; }

  footer {
    display: flex;
    flex-flow: column; }
    footer ul {
      box-sizing: border-box;
      border: 5px ridge black;
      padding: 13px;
      margin: 1px;
      text-align: initial;
      width: 100%;
      float: none;
      background-color: #be0000;
      overflow: hidden;
      clear: none; }
    footer #ref {
      box-sizing: border-box;
      border: 5px ridge black;
      padding: 13px;
      margin: 1px;
      text-align: initial;
      width: 100%;
      float: none;
      background-color: #be0000;
      overflow: hidden; } }
input {
  display: inline-block; }

.Login h1,
.Login input {
  float: left;
  clear: left;
  padding: 0px; }
.Login h1 {
  margin-bottom: 2px; }

#indexFormTA {
  max-width: 598px; }

/*# sourceMappingURL=DropDead.css.map */
